## 예제 5-2-1 판다스의 팬시 검색

In [1]:
import numpy as np             ## 다차원 배열을 처리하는 넘파이 모듈을 사용한다.

In [2]:
import pandas as pd            ## 판다스 모듈을  사용한다.

In [3]:
a = np.arange(10).reshape(2,5)     ## 0부터 9까지의 1차원 배열을 먼저 만든다.
                                   ## 배열의 형상을 reshape 메소드로 2차원으로 변형한다.

In [4]:
a                                  ## 2행 5열의 다차원 배열을 확인한다.

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [5]:
df = pd.DataFrame(a, columns=list('abcde'))        ## 다차원 배열과 열의 레이블을 지정해서 데이터프레임을 만든다.

In [6]:
df                                                ## 행의 레이블은 자동으로 숫자로 지정된다.

   a  b  c  d  e
0  0  1  2  3  4
1  5  6  7  8  9

In [7]:
df['a']                                 ## 열의 레이블로 검색하면 시리즈로 하나의 열을 반환한다

0    0
1    5
Name: a, dtype: int32

In [8]:
df[['a']]                            ## 문자열을 리스트에 넣어서 조회하면 하나의 열을 가진 데이터프레임을 조회한다.

   a
0  0
1  5

In [9]:
df[['a','c','d']]                 ## 3개의 문자열을 리스트에 넣어서 조회하면 3개의 열을 가진 데이터프레임을 조회한다.

   a  c  d
0  0  2  3
1  5  7  8

## 예제 5-2-2 판다스의 논리 검색

In [10]:
b = a > 5                                          ## 다차원 배열의 값을 정수와 비교한다.

In [11]:
b                                                   ## 내부의 값들 중에 5보다 큰 값만 불리언 값중에 True이다.

array([[False, False, False, False, False],
       [False,  True,  True,  True,  True]])

In [12]:
df[b]                                              ## 이 논리 배열을 조회하면  
                                                   ## 두 번째의 행이 4번 출력하는 데이터프레임이 만들어진다.

   a  b  c  d  e
1  5  6  7  8  9
1  5  6  7  8  9
1  5  6  7  8  9
1  5  6  7  8  9

In [13]:
c = b.flatten()                         ## 다차원 배열을 1차원으로 변형한다.

In [14]:
c

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [15]:
df.values.flatten()[c]                     ## values 속성의 다차원 배열을 1차원으로 만들어서 논리검색하면 원소만 추출한다.

array([6, 7, 8, 9])